<h1 class="text-center my-4  display-4">Argentina Programa - Cronometro Angular</h1>
<div class="card w-50 h-50 justify-content-center mx-auto mt-5 bg-dark text-white">
    <div class="card-body border border-dark rounded">
        <div>
            <h1 class="text-center display-2 d-block"><time datetime="">{{hrs}} : {{min}} : {{sec}}</time></h1>
        </div>
        <hr>
        <div class="d-flex justify-content-evenly my-auto" >
            <button (click)="iniciarTimer()" id="start" class="mx-2 my-auto btn btn-success d-flex"><i class="bi bi-play"></i></button>
            <button (click)="clearTime()" id="stop" class="mx-2 my-auto btn btn-success d-flex"><i class="bi bi-stop"></i></button>
            <button (click)="restartTime()" id="restart" class="mx-2 my-auto btn btn-success d-flex"><i class="bi bi-arrow-repeat"></i></button>
        </div>
    </div>
</div>
"
<div class="card w-50 h-50 mx-auto my-2 border border-light rounded bg-dark text-white">
    <div class="card-body text-center h4">
        <h3>{{horalocal}}</h3> 
    </div>
</div>